
<div class="bar bar-dark bar-subheader padding-top-0">
  <div style="display: -webkit-inline-box;width: 94%;overflow-x: scroll;margin-left: 5%">
    <div ui-sref-active="white-color" ui-sref="tabs.home" style="padding-right: 30px;text-align: center;color: rgba(255, 255, 255, 0.58);">
      <i class="icon ion-home" style="font-size: x-large"></i>
      <p>Home</p>
    </div>
    <div ui-sref-active="white-color" ui-sref="tabs.humor" style="padding-right: 30px;text-align: center;color: rgba(255, 255, 255, 0.58);">
      <i class="icon ion-happy-outline" style="font-size: x-large"></i>
      <p>Humor</p>
    </div>
    <div ui-sref-active="white-color" ui-sref="tabs.movies" style="padding-right: 30px;text-align: center;color: rgba(255, 255, 255, 0.58);">
      <i class="icon ion-ios-videocam-outline" style="font-size: x-large"></i>
      <p>Movies</p>
    </div>
    <div ui-sref-active="white-color" ui-sref="tabs.entertainment" style="padding-right: 30px;text-align: center;color: rgba(255, 255, 255, 0.58);">
      <i class="icon ion-easel" style="font-size: x-large"></i>
      <p>Entertainment</p>
    </div>
    <div ui-sref-active="white-color" ui-sref="tabs.geekArt" style="padding-right: 30px;text-align: center;color: rgba(255, 255, 255, 0.58);">
      <i class="icon ion-paintbrush" style="font-size: x-large"></i>
      <p>Geek Art</p>
    </div>
    <div ui-sref-active="white-color" ui-sref="tabs.gadgets" style="padding-right: 30px;text-align: center;color: rgba(255, 255, 255, 0.58);">
      <i class="icon ion-usb" style="font-size: x-large"></i>
      <p>Gadgets</p>
    </div>
    <div ui-sref-active="white-color" ui-sref="tabs.games" style="padding-right: 30px;text-align: center;color: rgba(255, 255, 255, 0.58);">
      <i class="icon ion-ios-game-controller-b-outline" style="font-size: x-large"></i>
      <p>Games</p>
    </div>
    <div ui-sref-active="white-color" ui-sref="tabs.photography" style="padding-right: 30px;text-align: center;color: rgba(255, 255, 255, 0.58);">
      <i class="icon ion-images" style="font-size: x-large"></i>
      <p>Photography</p>
    </div>
    <div ui-sref-active="white-color" ui-sref="tabs.news" style="padding-right: 30px;text-align: center;color: rgba(255, 255, 255, 0.58);">
      <i class="icon ion-ios-world-outline" style="font-size: x-large"></i>
      <p>News</p>
    </div>
  </div>
</div>

<ion-nav-view class="has-header" name="home-tab"></ion-nav-view>
